body {
  font-family: 'Bree Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
.glitchmoly {
  font-family: 'Bowlby One', cursive;
  color: black;
  background: white;
  font-size: 6.5vh;
  width: 100vw;
  height: 10vh;
  text-align: center;
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitchmoly:after{
  content:attr(data-text);
  position: absolute;
  left: 35vw;
  text-align: center;
  text-shadow:-1px 0 red;
  top:0;
  color:black;
  background:white;
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim 2s infinite linear alternate-reverse;
}
.glitchmoly:before{
  content:attr(data-text);
  text-align: center;
  position: absolute;
  left: 40vw;
  text-shadow:1px 0 blue;
  top:0;
  color:black;
  background:white;
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}
