body {
  font-family: 'Bree Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  word-break: break-all;
}

.trapmafia_img {
  width: 25vw;
}

.hypervillage_img {
  width: 15vw;
}

.gekikawa {
  width: 20vw;
}

.box {
  background-color:#f7f4f4;
  margin: 2vh;
  border : 1vh solid #f7f4f4;
}

.header {
  background-color:#ffffff;
  margin: 2vh;
  border: 1vh solid #ffffff;
  background-image: url('./imgs/aine.jpg');
  background-size:80px 80px;
}

.glitchmoly {
  font-family: 'Bowlby One', cursive;
  color: black;
  background: #f7f4f4;
  font-size: 8vw;
  width: 100vw;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
